/node_modules
/public/hot
/public/storage
/public/images/buku/*
!/public/images/buku/sampul.png
/storage/*.key
/storage/framework/laravel-excel/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log